/* text and bg colors */
.text-primary {
  color: var(--primary);
}
.text-secondary {
  color: var(--secondary);
}
.text-tertiary {
  color: var(--tertiary);
}

/* bg */
.bg-primary {
  background-color: var(--primary);
}
.bg-secondary {
  background-color: var(--secondary);
}
.bg-tertiary {
  background-color: var(--tertiary);
}
.bg-dark {
  background-color: var(--dark);
}

/* ===========================
mobile first
=============================*/
.hide_mobile {
  display: none;
}

.m_logo {
  width: 100px;
  margin: 0;
}

/* hero categories i.e the categories after the nav menu not the sidebar's */

.admin {
  display: none;
}

/* hero cat...ry ends here */

/* main article */
.flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* btn */

/* -============================
main article
-==============================*/
/* post details */

/* articles styles */

.flex {
  display: flex;
  justify-content: center;
  width: auto;
  flex-direction: column;
  margin-left: auto;
  position: relative;
  padding-top: 0;
}

@media (min-width: 730px) {
  header {
    padding: 0 3rem;
  }

  .article,
  .aside {
    width: 80%;
  }

  form input,
  form button {
    padding: 1rem 0.8rem;
  }

  .detail {
    padding: 0.6rem;
    font-size: 0.9rem;
    line-height: 1.4;
  }
}

@media (min-width: 889px) {
  .flex {
    display: grid;
    grid-template-areas:
      "hero_cat hero_cat hero_cat hero_cat"
      "admin main_article main_article sidebar"
      "footer footer footer footer";
    grid-template-rows: auto;
    margin-left: auto;
    margin-right: auto;
    widows: 95%;
  }

  .article,
  .aside {
    width: 70%;
    margin-left: 14rem;
  }

  .hide_desktop .icofont-user {
    display: none;
  }

  .footer {
    /* width: calc(100vw - 20vw); */
    grid-area: footer;
    display: flex;
  }

  footer {
    justify-self: flex-end;
  }
}

@media (min-width: 959px) {
  .article,
  .aside {
    width: 70%;
    margin-left: 14rem;
  }
}

@media (min-width: 930px) {
  .article,
  .aside {
    width: 70%;
    margin-left: 15rem;
  }
}

@media (min-width: 937px) {
  .article,
  .aside {
    width: 68%;
    margin-left: 16rem;
  }
}

/* .dont_show {
  display: none;
} */

@media (min-width: 1200px) {
  .hide_desktop {
    display: none;
  }

  .icofont-moon {
    display: initial;
  }

  .hide_mobile {
    display: flex;
  }

  /* category */

  /* post details */

  .detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0.8rem;
    position: absolute;
    content: "";
    top: 2%;
    right: 2%;
    background-color: white;
    font-size: 0.8rem;
    box-shadow: 5px 5px 0 var(--light);
  }

  .detail * + * {
    margin-top: 0.5rem;
  }

  .tag {
    display: flex;
    flex-wrap: wrap;
    padding: 0.9rem 0;
    font-size: 0.8rem;
  }

  .tag a {
    padding: 0.5rem;
    background-color: var(--light);
    border-radius: 1rem;

    color: black;
  }

  .tag * + * {
    margin-left: 0.5rem;
  }
}
